:root{
  --green:green;
  --black:#130f40;
  --light-color:#666;
  --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
  --border:2rem solid rgba(0,0,0.1);
  --outline:.1rem solid rgba(0,0,0.1);
}

*{
  font-family: "Poppins" , sans-serif;
  margin:0;
  padding:0;
  box-sizing:border-box;
  outline:none;
  border:none;
  text-decoration: none;
  transition: all .2s linear;
 }

 html{
  font-size:62.5%;
  overflow-x:hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
 }

 body{
  background-color:#eee;
} 

.header{
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index:1000;
  display:flex;
  align-items:center;
  justify-content: space-between;
  padding:2rem 9%;
  background:rgba(255, 228, 196, 0.71);
  box-shadow:var(--box-shadow)
}

.header .logo{
  font-size:2.5rem;
  font-weight:bolder;
  color: var(--black);
}

.header .logo i{
  color:var(--green);
}

.icons {
  position: relative;
}

.header .icons div{
  border:0px solid;
  height:4.5rem;
  width:4.5rem;
  line-height:4.5rem;
  border-radius:.5rem;
  background:#eee ;
  color:var(--black);
  font-size:2rem;
  margin-right:.3rem;
  text-align: center;
  cursor: pointer;
}

.header .icons div:hover{
  background: var(--green);
  color:white;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 48px 90px;
  margin-top: 70px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 150px;
}

.empty-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  margin-bottom: 150px;
}

.book-card {
  width: 32%;
  padding: 12px 16px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
  box-shadow: var(--box-shadow);
  background-color: white;
  border-radius: 8px;
}

.book-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
  width: 100%;
}

.book-img {
  width: 100%;
  height: 300px;
}

.book-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.book-title {
  font-size: 18px;
  font-weight: 600;
  color: var(--black);
  text-align: start;
}

.book-author {
  font-size: 16px;
  font-weight: 500;
  color: var(--black);
}

.book-price {
  font-size: 12px;
  font-weight: 500;
  color: var(--light-color);
}
 
.book-summary {
  font-size: 12px;
  font-weight: 500;
  color: var(--light-color);
  text-align: start;
}

.cart-empty-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 200px;

}

.cart-empty-text { 
  font-size: 22px;
  color: var(--black);
  font-weight: 600;
}

.shop-now-btn {
  padding: 8px 20px;
  font-size: 16px;
  background-color: var(--green);
  color: white;
  border: 1px solid var(--green);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.price {
  display: flex;
  width: 100%;
  justify-content: end;
}


.price-button {
  padding: 8px 20px;
  font-size: 14px;
  background-color: var(--green);
  color: white;
  border: 1px solid var(--green);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.clear-cart-button {
  padding: 8px 20px;
  font-size: 14px;
  background-color: var(--light-color);
  color: white;
  border: 1px solid var(--green);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.clear-cart-container {
  display: flex;
  justify-content: end;
  gap: 12px;
 }

.clear-cart-container-hidden {
 display: hidden;
}


.footer{
  background:rgba(255, 228, 196, 0.714);
  padding: 12px 90px;
  width: 100%;
  bottom: 0;
  position: fixed;
}
.footer .box-container{
  border:0px solid;
  width: 100%;
  display:  flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px;
}
.footer .box-container .box h3{
  font-size: 16px;
  color:var(--black);
  padding:1rem 0;
}
.footer .box-container .box h3 i{
  color:var(--green);
}
.footer .box-container .box .links{
  display:block;
  font-size:14px;
  color:var(--light-color);
  padding:1rem 0;
}
.footer .box-container .box .links i{
  color:var(--green);
  padding-right:.5rem;
}
.footer .box-container .box .links:hover i{
  padding-right:2rem;
}
.footer .box-container .box p{
  line-height:1.8;
  font-size:14px;
  color:var(--light-color);
  margin-bottom: 12px;
}
.footer .box-container .box .share a{
  border:0px solid;
  height:4rem;
  width:4rem;
  line-height:4rem;
  border-radius: .5rem;
  font-size:2rem;
  color:var(--black);
  margin-left:.2rem;
  background: #eee;
  text-align: center;
}
.footer .box-container .box .share a:hover{
  background: var(--green);
  color: #fff;
}