:root{
  --green: green;
  --black:#130f40;
  --light-color:#666;
  --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
  --border:2rem solid rgba(0,0,.1);
  --outline:.1rem solid rgba(0,0,0.1);
  --color: var(--black);
  --box-shadow: var(--box-shadow);
}

*{
  font-family: "Poppins" , sans-serif;
  margin:0;
  padding:0;
  box-sizing:border-box;
  outline:none;
  border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: color 0.2s linear, background-color 0.2s linear;
  border-radius: 5px;
  font-size: 16px;

}

html {
  font-size: 62.5%;
  overflow-x: hidden; 
  overflow-y: auto; 
  scroll-behavior: smooth; 
  scroll-padding-top: 7rem; 
  height: 100%; 
}

body{
  background:lightgrey;
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: url('https://png.pngtree.com/background/20210711/original/pngtree-world-reading-day-hand-painted-e-commerce-book-banner-picture-image_1118336.jpg'); */
  background-size: cover;
  background-position: center;


}

section{
  padding:2rem 9%;
  margin: 1rem 0; 
  width: 100%; 
  max-width: 1200px;
}

.heading{
  text-align:center;
  padding:2rem 0;
  padding-bottom:3rem;
  font-size:3.5rem;
  color:var(--black);
  font-weight: bold; 
  line-height: 1.2; 
}

.heading span{
   background: var(--green);
   color:#fff;
   display:inline-block;
   padding:1.5rem 3rem;
   clip-path:polygon(100% 0 , 93% 50% , 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn{
border: .2rem solid black;
margin-top:1rem;
display:inline-block;
padding:1rem 3rem;
font-size:clamp(1.2rem, 2vw, 1.7rem); ;
border-radius:.5rem;
color:var(--black);
cursor:pointer;
}
.btn:hover{
  background: var(--green);
  color:white;
  transition: 0.3s ease-in-out;
}

.btn:active {
  transform: scale(0.95); 
}

.header{
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index:1000;
  display:flex;
  align-items:center;
  justify-content: space-between;
  padding:2rem 9%;
  background:lightgray;
  box-shadow:var(--box-shadow)
}

.header .logo{
  font-size:2.5rem;
  font-weight:bolder;
  color: var(--black);
}
.header .logo i{
  color:var(--green);
}


.header .navbar a
{
  font-size:1.7rem;
  margin:0 2rem;
  color:var(--black);
}
.header .navbar a:hover{
  color:var(--green);
}
.header .icons div{
  border:0px solid;
   height:4.5rem;
   width:4.5rem;
   line-height:4.5rem;
   border-radius:.5rem;
   background:#eee ;
   color:var(--black);
   font-size:2rem;
   margin-right:.3rem;
   text-align: center;
   cursor: pointer;
}
.header .icons div:hover{
  background: var(--green);
  color:white;
}
#menu-btn{
  display:none;
}

.header .navbar.active {
   right:2rem;
   transition: .4s linear();
}

 .header .search-form{
  display:block;
  position:absolute;
  top:110%;
  right:-110% ;
  width:50rem;
  height:5rem;
  background: #fff;
  border-radius:.5rem;
  overflow:hidden;
  align-items:center;
  box-shadow:var(--box-shadow);
 }

 .header .search-form input{
  height:100%;
  width:100%;
  background: none;
  text-transform: none;
  font-size: 1.6rem;
  color:var(--black);
  padding:0 1.5rem;
 }
 .header .search-form.active{
  right:2rem;
  transition:.4s linear();
} 

 .header .search-form label{
   font-size:2.2rem;
  padding-right:1.5rem;
  color:var(--black);
  cursor:pointer;
  }
  .header .search-form label:hover{
    color:var(--green);
    }

 .header .shopping-cart{
 border:0px solid;
 position:absolute;
 top:100%;
 right: -110%;  
 padding:1rem;
 border-radius:.5rem;
 box-shadow:var(--box-shadow);
 width:35rem;
 background:#fff;
}
.header .shopping-cart.active{
  right:2rem;
  transition:.4s linear();
} 
.header .shopping-cart .box{
  border:0px solid navy;
  display:flex;
  align-items:center;
  gap:1rem;
  position:relative;
  margin:1rem 0;
}
.header .shopping-cart .box img{
  height:10rem;
}
.header .shopping-cart .box .fa-trash{
  font-size:2rem;
  position:absolute;
  top:50%;
  right:2rem;
  cursor: pointer;
  color:var(--light-color);
  transform:translateY(-50%);
}
.header .shopping-cart .box .fa-trash:hover{
  color:var(--green);
}

.header .shopping-cart .box .content h3{ 
  color:var(--black);
  font-size:1.7rem;
  padding-bottom:1rem;
}
.header .shopping-cart .box .content span{ 
  color:var(--light-color);
  font-size:1.6rem;
}
.header .shopping-cart .box .content .quantity{
  padding-left:1rem;
}
.header .shopping-cart .total{
  font-size:2.5rem;
  padding:1rem 0;
  text-align:center;
  color:var(--black);
}
.header .shopping-cart  .btn{
  display:block;
  text-align:center;
  margin:1rem 0 ;
}
.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 10px;
  backdrop-filter: blur(50px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size:1.5rem;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #162938;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
}

.form-box h2 {
  font-size: 2em;
  color: #162938;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #162938;
  font-weight: 500;
  pointer-events: none;
  transition: color 0.3s ease, font-size 0.3s ease, transform 0.3s ease;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: 10px;
  font-size: 0.8rem;
  color: #0e1f2c;
}


.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #162938;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #162938;
  line-height: 57px;
}

.remember-forgot {
  font-size: .9em;
  color: #162938;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot lable input {
  accent-color: #162938;
  margin-right: 3px;
}

.remember-forgot a {
  color: #162938;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}

.login-register {
  font-size: .9em;
  color: #162938;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: #162938;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}

@media(max-width:991px){
  html{
    font-size:55%;
  }
  .header{
    padding:2rem;
  }
  section{
    padding:2rem;
  }
}
@media(max-width:768px){
  #menu-btn{
    display: inline-block;
  }
  .header .search-form{
    width:90%;
  }
  .header .navbar{
    position: absolute;
    top:110%;
    right:-110%;
    width:30rem;
    box-shadow:var(--box-shadow);
    border-radius:.5rem;
    background: lightgray;
  }
  .header .navbar a{
    font-size:2rem;
    margin:2rem 2.5rem;
    display: block;
  }
}
@media(max-width:450px){
  html{
    font-size:50%;
  }

  .heading{
    font-size:2.5rem;
  }
}
